<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">  
  {% load static %}

  {% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  {% endblock extrahead %}
  <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="{% url 'movies:index' %}">MOVIEW</a>
      
      <div class="navbar" id="navbarSupportedContent">
        <ul class="navbar-nav flex-row align-items-center">
          {% if request.user.is_authenticated %}
            <li class="nav-item mx-2">
              <a class="nav-link" href="{% url 'movies:create' %}">CREATE</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="{% url 'accounts:update' %}">회원정보수정</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="{% url 'accounts:profile' user.username %}">프로필</a>
            </li>
            <li class="nav-item mx-2">
              <form class="form-inline my-2 my-lg-0" action="{% url 'accounts:logout' %}" method="POST">
                {% csrf_token %}
                <input class="btn btn-outline-danger my-2 my-sm-0" type="submit" value="로그아웃">
              </form>
            </li>
          {% else %}
            <li class="nav-item mx-2">
              <a class="nav-link" href="{% url 'accounts:signup' %}">회원가입</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="{% url 'accounts:login' %}">로그인</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>  
  
  <div class="container">
    {% block content %}
    {% endblock content %}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
